* {
    margin: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

h1 {
    border: 2px solid black;
    text-align: center;
    transition-duration: 0.8s;
}

a {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

h1:hover {
    background: black;
    color: white;
}

li {
    border: 2px solid black;
    width: 20%;
    padding: 10px;
    margin: 10px;
    list-style: none;
}

li:hover {
    cursor: pointer;
}



